@model EcoConecteWeb.Models.AgendamentoViewModel

@{
    ViewData["Title"] = "EcoConecte - Editar Agendamento";
    var pessoaId = ViewData["PessoaId"];
}

<h1 class="title">
    <i class="fas fa-edit"></i> Editar Agendamento
</h1>

<div class="form-container text-left">
    <form asp-action="AgendamentoEdit" asp-controller="Usuario" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="IdPessoa" class="control-label"></label>
            <input asp-for="IdPessoa" class="form-control" />
            <span asp-validation-for="IdPessoa" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Data" class="control-label text-left"></label>
            <input asp-for="Data" class="form-control" />
            <span asp-validation-for="Data" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Cep" class="control-label text-left"></label>
            <input asp-for="Cep" class="form-control" />
            <span asp-validation-for="Cep" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Logradouro" class="control-label text-left"></label>
            <input asp-for="Logradouro" class="form-control" />
            <span asp-validation-for="Logradouro" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Numero" class="control-label text-left"></label>
            <input asp-for="Numero" class="form-control" />
            <span asp-validation-for="Numero" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Bairro" class="control-label text-left"></label>
            <input asp-for="Bairro" class="form-control" />
            <span asp-validation-for="Bairro" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Cidade" class="control-label text-left"></label>
            <input asp-for="Cidade" class="form-control" />
            <span asp-validation-for="Cidade" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Estado" class="control-label text-left"></label>
            <input asp-for="Estado" class="form-control" />
            <span asp-validation-for="Estado" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Status" class="control-label" style="display: none;"></label>
            <input asp-for="Status" class="form-control" value="A" readonly type="hidden" />
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>

        <div class="button-group">
            <input type="submit" value="Salvar" class="icon-button" />
            <a asp-controller="Usuario" asp-action="Agendadas" asp-route-id="@ViewData["PessoaId"]" class="icon-button">
                <i class="fa fa-arrow-left"></i> Voltar
            </a>

        </div>

    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
