@model EcoConecteWeb.Models.OrientacoesViewModel

@{
    ViewData["Title"] = "EcoConecte - Cadastrar Orientação";
    var pessoaId = Convert.ToInt32(ViewData["PessoaId"] ?? 0);

}

<div class="container">
    <h1 class="title">
        <i class="fas fa-plus"></i> Cadastrar Orientação
    </h1>

    <h4>Preencha os dados</h4>
    <hr />

    <div class="row">
        <div class="col-md-4">
            <form asp-action="OrientacoesCreate" class="form-container-expanded">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Titulo" class="control-label"></label>
                    <input asp-for="Titulo" class="form-control" />
                    <span asp-validation-for="Titulo" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Descricao" class="control-label"></label>
                    <input asp-for="Descricao" class="form-control" />
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>

                <div class="form-group" style="display: none;">
                    <input type="hidden" asp-for="IdCooperativa" value="@ViewData["PessoaId"]" />
                </div>

                <div class="form-group button-group" style="display: flex; justify-content: space-between; margin-top: 20px;">
                    <input type="submit" value="Inserir" class="icon-button" style="flex: 1; margin-right: 10px;" />

                    <button type="button" class="icon-button" style="flex: 1;" onclick="window.location.href='@Url.Action("OrientacoesList", "AdmCooperativa", new { id = pessoaId })'">
                        <i class="fas fa-undo"></i> Voltar
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>
