@model EcoConecteWeb.Models.VendaViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Cadastrar Venda</h1>

<h4>Preencha os dados</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantidade" class="control-label"></label>
                <input asp-for="Quantidade" class="form-control" />
                <span asp-validation-for="Quantidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCooperativa" class="control-label"></label>
                <input asp-for="IdCooperativa" class="form-control" />
                <span asp-validation-for="IdCooperativa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPessoa" class="control-label"></label>
                <input asp-for="IdPessoa" class="form-control" />
                <span asp-validation-for="IdPessoa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a class="btn" asp-action="Index">Voltar</a>
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    .btn btn-primary {
        background: #007447;
        color: white;
        padding: 10px 15px;
        border-radius: 5px;
        text-decoration: none;
    }

    .btn {
        background: #007447;
        color: white;
        padding: 10px 15px;
        border-radius: 5px;
        text-decoration: none;
    }
</style>