@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <div class="intro-text">
        <h1 class="display-4 font-weight-bold no-break">Conheça a EcoConecte!</h1>
        <p class="lead font-weight-bold text-muted no-break">Coletamos seus resíduos sólidos e efetuamos o descarte adequado.</p>
    </div>

    <form asp-action="Buscarporcep" asp-controller="Coleta" method="post" class="mb-3">
        <div class="form-group">
            <input class="form-control cep-input" type="text" name="cep" placeholder="Digite seu CEP" maxlength="14" required />
        </div>
        <button class="btn icon-button" type="submit">Buscar</button>
    </form>

    <button class="btn icon-button mb-3">Cadastre-se</button>

    <h2 class="display-4 font-weight-bold no-break">Notícias</h2>
</div>

<style>
    .container {
        width: 100%;
        max-width: 600px;
        background: #FAFAFA;
        padding: 20px;
        margin: 0 auto;
    }

    .intro-text {
        margin-top: 80px;
        text-align: center;
        color: black;
        font-size: 22px;
        font-family: 'Abril Fatface', sans-serif;
    }

    /* Mantém o texto em linha contínua, sem quebras */
    .no-break {
        white-space: nowrap;
    }

    .cep-input {
        width: 100%;
        height: 63px;
        padding: 4px;
        background: white;
        border-radius: 8px;
        border: 1px #05AF16 solid;
    }

    .btn {
        width: 100%;
        max-width: 157px;
        height: 53px;
        background: #007447;
        color: white;
        border-radius: 15px;
        border: 1px #B7BABC solid;
        text-align: center;
        line-height: 53px;
        margin: 10px auto;
        font-family: 'Abril Fatface', sans-serif;
    }

    h2 {
        font-size: 32px;
        font-family: 'Abril Fatface', sans-serif;
        margin-top: 20px;
    }
</style>
