@model EcoConecteWeb.Models.NoticiaViewModel

@{
    ViewData["Title"] = "EcoConecte - Editar Notícia";
}

<h1 class="title">
    <i class="fas fa-edit"></i> Editar Notícia
</h1>

<div <div class="form-container text-left">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Titulo" class="control-label text-left"></label>
            <input asp-for="Titulo" class="form-control" />
            <span asp-validation-for="Titulo" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Conteudo" class="control-label text-left"></label>
            <textarea asp-for="Conteudo" class="form-control larger-textarea"></textarea>
            <span asp-validation-for="Conteudo" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="IdCooperativa" class="control-label text-left"></label>
            <input asp-for="IdCooperativa" class="form-control" />
            <span asp-validation-for="IdCooperativa" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Data" class="control-label text-left"></label>
            <input asp-for="Data" class="form-control" />
            <span asp-validation-for="Data" class="text-danger"></span>
        </div>

        <div class="button-group">
            <input type="submit" value="Salvar" class="icon-button" />
            <a class="icon-button" asp-action="Index">
                <i class="fa fa-arrow-left"></i> Voltar
            </a>
        </div>
    </form>
</div>
