@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Recuperar senha";
}

<h1>@ViewData["Title"]</h1>
<p>
    Verifique seu email, para continuar.
</p>
<a href="c:\users\luizneri\downloads\projeto qs-pw\ecoconecte\codigo\ecoconecteweb\ecoconecteweb\areas\identity\pages\account\forgotpasswordconfirmation.cshtml.cs">c:\users\luizneri\downloads\projeto qs-pw\ecoconecte\codigo\ecoconecteweb\ecoconecteweb\areas\identity\pages\account\forgotpasswordconfirmation.cshtml.cs</a>
<a href="c:\users\luizneri\downloads\projeto qs-pw\ecoconecte\codigo\ecoconecteweb\ecoconecteweb\areas\identity\pages\account\forgotpasswordconfirmation.cshtml">c:\users\luizneri\downloads\projeto qs-pw\ecoconecte\codigo\ecoconecteweb\ecoconecteweb\areas\identity\pages\account\forgotpasswordconfirmation.cshtml</a>